@import '../../scss/variables';

.VideoPlay{
    background-color: $navbar_bg_dark;
    min-height: 100vh;
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    &__player{
        aspect-ratio: 16/9;
        border: none;
        width: 80%;
    }

    &__title{
        color: white;
        font-size: 1.2rem;
        
    }
    
}