@import '../../scss/variables';

.PartidoCard{
    
    width: 350px;
    max-height: 400px;
    background: rgb(2,0,36);
    background: linear-gradient(-45deg, #181818 0%, #222222 20%, #262626 100%);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding-inline: 15px;
    padding-block: 22px;
    color: $navbar_text;
    transition: all 0.3s ease;


    &:hover{
        
        transform: scale(1.03);
        background: linear-gradient(-45deg, #222222 0%, #313131 20%, #555555 100%);
    }

    .partido{
        width: 100%;
        height: 50%;
        background-color: rgb(129, 129, 129);
        border-radius: 3px;
        overflow: hidden;
        
        .partido__image{
            height: 100%;
            object-fit: cover;  
        }
    }

    .partido__info{
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;

        .date{
            grid-column: 1/4;
            text-align: end;
            margin-top: 12px;
            color: rgb(131, 131, 131);
            
        }
        .local{
            text-align: end;
            font-size: 18px;
            font-weight: 500;
        }

        .visitante{
            font-size: 18px;
            font-weight: 500;
        }

        .versus{
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            grid-column: 2/3;
            grid-row: 2/5;
        }

        .goles_local{
            grid-row: 3/5;
            grid-column: 1/2;
            font-size: 48px;
            text-align: end;
        }

        .goles_visitante{
            grid-row: 3/5;
            grid-column: 3/4;
            font-size: 48px;
            text-align: start;
        }

        .button{
            background-color: black;
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 8px;
            font-size: 14px;
            transition: all .3s ease;
            
        }
        .button:hover{
            background-color: rgba(207, 207, 207, 0.759);
            color: black;
        }

        .acciones{
            grid-column: 3/4;
        }
    }
        
}
