@import '../../scss/variables';

.PartidoCard{
    
    width: 400px;
    height: 300px;
    background: rgb(2,0,36);
    background: linear-gradient(-45deg, #181818 0%, #222222 20%, #262626 100%);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: $navbar_text;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    background-size: auto 100%;
    transition: 0.6s all ease;
    background-position: center;

    &:hover{
        background-size: auto 103%;
        
    }


    .partido__info{
        padding: 28px;
        height: 100%;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.382);
        transition: all .8s ease;
        &:hover{
        background-color: rgba(0, 0, 0, 0.189);
        
        }

        &-details{
            display: flex;
            justify-content: space-between;
            align-items: start;
            

            .icons{
                display: flex; 
                gap: 16px;
            }

            .date{
                justify-self: end;
                font-weight: 500;

            }
        }

        &-resultado{
            
            background-color: $partidoCard_detail;
            font-weight: 600;
            width: fit-content;
            align-self: center;
            padding-inline: 20px;
            padding-block: 12px;
            border-radius: 30px;
        }

        &-minutos{
            background-color: #00bfffa1;
            height: 50px;
            width: 50px;
            display: grid;
            place-items: center;
            padding: 12px 12px ;
            border-radius: 30px;
            position: relative;
            font-weight: 700;
        }
        &-minutos::after{
            content: 'min';
            position: absolute;
            background-color: rgb(54, 54, 54);
            border-radius: 15px;
            padding: 3px 5px;
            left: 30px;
            top: -10px;
            font-size: 12px;
            font-weight: 400;
            
        }
        .button_container{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            .button{
                background-color: $FITcolor;
                color:$pages_bg_light;
                height: 50px;
                display: flex;
                align-items: center;
                gap: 15px;
                padding-inline: 15px;
                padding-block: 10px;
                border-radius: 20px;
                transition: all 0.4s ease;
    
            }
            .button:hover{
                background-color: #12ccff;
                transform: scale(1.02);
            }
        }


        
    }
        
}
