@import '../../scss/variables';

.partidos_container{
    
    background-color: $navbar_bg_dark;
    padding: 5vh 0; 
    height:100vh;
    
    
    

    .section_title h1{
        font-size: 35px;
        font-weight: 700;
        color: $navbar_bg_dark;
        
    }

    .page_container{
        background-color: $pages_bg_light;
        height: 90vh;
        width: 95%;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 45px;
        overflow-y: scroll;
       

        .cards_container{
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }


    }
    
    
}
.section_title h1{
    font-size: 35px;
    font-weight: 700;
    color: white;
}



