@import '../../scss/variables';

.sidebar {
    background-color: $navbar_bg_dark;
    width: 75px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: .2fr 1fr 1fr 1fr;
    gap: 32px;
    transition: 0.4s ease;
  
    .toggleButton{
      cursor: pointer;
      font-size: 40px;
      color: $navbar_text;
      @include center-single-grid(); 
    }
    .sidebar__logo{
      transform: scale(.45);
      
    }
    

   

    ul{
      list-style-type: none;
      background-color: green;
    }

  }
  
  .sidebar.active{
    width: 350px;

   
   
  }
  
  
  
 
  
  