@import '../../scss/variables';

.sidebar {
    background-color: $navbar_bg_dark;
    width: 95px;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    transition: 0.4s ease;
    overflow: hidden;
    
  
    .toggleButton{
      cursor: pointer;
      font-size: 40px;
      color: $navbar_text;
      padding-left: 30px;
    }

    .sidebar__logo{
      transform: scale(.45);
      
    }
    

    .nav{
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      

      & a{
        text-decoration: none;
        
      }
     
      & a.active {
        color: $FITcolor;
        background-color: $pages_bg_light;
       


      }
      /* & a.active::before {
        content: '';
        height: 30px;
        position: relative;
        width: 30px;
        left: 82%;
        top: -75%;
        border-bottom-right-radius: 20px;
        background-color: $navbar_bg_dark;
        box-shadow: 6px 6px 0 5px $pages_bg_light;
      }

      & a.active::after {
        content: '';
        height: 30px;
        position: relative;
        width: 30px;
        left: 45%;
        top: 75%;
        border-top-right-radius: 20px;
        background-color: $navbar_bg_dark;
        box-shadow: 6px 6px 0 5px $pages_bg_light;

        
      }  */


      .li_content{
        margin-left: 15px;
        padding-left: 15px;
        display: flex;
        gap: 12px;
        align-items: center;
        height: 60px;
        width: 100%;
        color: $navbar_text;
        background-color: $navbar_bg_dark;
        border-radius: 30px 0 0 30px;
        font-weight: 400; 
        font-size: 18px;
        transition: all .4s ease;

        p{display: none;}
        
       .logo{
        font-size: 30px;
        color: $FITcolor;
       }
      }
      .li_content.open{
        p{display: block;}
       
      }
   
     
    }

    .logOut{
      font-size: 24px;
      color: $navbar_text;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      background-color: blueviolet;
      height: 60px;
      border-radius: 20px;
      cursor: pointer;

      p{
        font-size: 18px;
      }

      
    }

  
  }
  
  .sidebar.active{
    width: 250px;
   
  }
  
  
  
 
  
  