.App-Container{
    background-color: #f3f4f6;
    display: grid;
    grid-template-columns: .1fr 1fr;
    max-height: 97vh;

 
    .header{
        
        height: 100%;
        width: 250px;
        
    }

    main{
        background-color: green;
        
        
        
    }

  
}