
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
a:visited { 
  text-decoration: none; 
  color: white; 
 }
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}



#root, #__next {
  isolation: isolate;
}

